@font-face {
  font-family: "amazon-ember-regular";
  src: url("AmazonEmber_Rg.ttf");
}
@font-face {
  font-family: "amazon-ember-bold";
  src: url("AmazonEmber_Bd.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
div {
  font-family: amazon-ember-regular;
}

div .bold {
  font-family: amazon-ember-bold;
}

nav {
  background-color: black;
}
input {
  border: none;
  background: white;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.nav-btn:hover {
  border: 1px solid white;
}

.top-nav {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sprite1 {
  background-image: url("sprite3.png");
  background-repeat: no-repeat;
  width: 110px;
  height: 40px;
  background-position: -10px -51px;
  zoom: 0.5;
  margin-left: 10px;
  border: 1px solid transparent;
  margin-top: 2px;
}
.shipBtn {
  width: 40px;
  height: 22px;
  border: 1px solid transparent;
  position: relative;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.shipIcon {
  background-image: url("sprite3.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 22px;
  background-position: -71px -306px;
  border: 1px solid transparent;
  zoom: 0.5;
  color: white;
}
.shipIcon-text {
  font-size: 5px;
  color: white;
  line-height: 5px;
  float: right;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-container-left-btn {
  background-color: gray;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 6px;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container-left-btn:hover {
  opacity: 0.7;
}
.search-container-input {
  background-color: white;
  height: 22px;
  width: 400px;
}
.search-container-right-btn {
  background-color: orange;
  opacity: 1;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.search-container-right-btn:hover {
  opacity: 0.7;
}

.search-sprite {
  background-image: url("sprite3.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 26px;
  background-position: -10px -290px;
  border: 1px solid transparent;
  display: inline-block;
  zoom: 0.5;
  color: white;
}
.us-button-container {
  border: 1px solid transparent;
  width: 25px;
  height: 22px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.us-button-container-img {
  zoom: 0.012;
}
.us-button-container-arrow {
  color: cornsilk;
}
.hello-button-container,
.returns-button-container {
  border: 1px solid transparent;
  height: 22px;
}
.hello-button-container-upperText,
.hello-button-container-downerText,
.returns-button-container-upperText,
.returns-button-container-downerText {
  color: white;
  font-size: 8px;
}
.shoping-cart-button {
  border: 1px solid transparent;
  height: 22px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.shoping-cart-sprite {
  background-color: black;
  background-image: url("sprite3.png");
  background-repeat: no-repeat;
  width: 41px;
  height: 32px;
  background-position: -218px -337px;
  zoom: 0.5;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  position: relative;
}
.shoping-cart-NumOfItems {
  color: orange;
  font-size: 20px;
  font-weight: 9000;
  position: absolute;
  left: 18px;
  top: -2px;
}
.shoping-cart-text {
  font-size: 6px;
  font-weight: 900;
  color: white;
}
/* bottom nav */
.bottom-nav {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bottom-nav-ham-button {
  border: 1px solid transparent;
  width: 30px;
  height: 22px;
  display: flex;
  align-items: center;
}
.bottom-nav-hamburger {
  height: 14px;
  width: 12px;
}

.bottom-nav-hamburger-line {
  width: 8px;
  height: 1px;
  background-color: white;
  margin: 2px 0;
  /* padding-top: 1px;
    margin-top: 2px; */
  justify-content: center;
}
.bottom-nav-hamburger-text {
  font-size: 10px;
  font-weight: 900;
  color: white;
}
.bottom-nav-deals-button,
.bottom-nav-customer-button,
.bottom-nav-Registry-button,
.bottom-nav-Gift-button,
.bottom-nav-Sell-button,
.bottom-nav-LocalDelivery-button {
  border: 1px solid transparent;
  color: white;
  font-size: 8px;
  display: flex;
  align-items: center;
}
.bottom-nav-left-buttons {
  display: flex;
  column-gap: 5px;
  float: left;
}
.bottom-nav-right-button {
  border: 1px solid transparent;
  color: white;
  font-size: 8px;
  /* only position worked here (so for now..)*/
  height: 22px;
  position: absolute;
  right: 0px;
  top: 36px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.mainProduct-container {
  background-color: white;
  border: 1px solid transparent;
  height: 100vh;
  width: 100%;
}
.mainProduct-imgContainer {
  height: 100px;
  width: 100px;
  display: inline-block;
}
.mainProduct-imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.mainProduct-bigImage-container {
  border: 2px solid black;
  height: 200px;
  width: 300px;
  display: inline-block;
}
/* .mainProduct-imgContainer:hover {
    background-image: url(petRock.jpg);
  } */
.mainProduct-imgContainer .mainProduct-bigImage-container {
  background: url("petRock.jpg") no-repeat;
  background-size: contain;
  visibility: hidden;
}

.mainProduct-imgContainer:hover .mainProduct-bigImage-container {
  visibility: visible;
}
